RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^de/(.*)$ /de/index.html [L]
RewriteRule ^en/(.*)$ /en/index.html [L]
RewriteRule ^no/(.*)$ /no/index.html [L]